<!DOCTYPE html>
<html>
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<h3> Coopener Controller </h3>
<a href="http://www.makeitbreakitfixit.com/">Make It, Break It, Fix It</a><br>
<table>
  <tr>
    <th>Item</th>
    <th>Result</th>
  </tr>

    {% block content %}
    {% endblock %}

</table>

</body>
</html>


